* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'cnx-light';
  src: local('cnx-light'), url(./fonts/cnx-light.woff2) format('woff2');
}

@font-face {
  font-family: 'cnx-medium';
  src: local('cnx-medium'), url(./fonts/cnx-medium.woff2) format('woff2');
}

@font-face {
  font-family: 'cnx-regular';
  src: local('cnx-regular'), url(./fonts/cnx-regular.woff2) format('woff2');
}


body {
  font-family: 'cnx-light', monospace;
  overflow: hidden;
  background: white;
  color: black;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
